* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background: linear-gradient(to right, #000000, #013553);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden
    ;
}

.first {
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid;
    border-color: #00598d;
    box-shadow: #00598d 0px 0px 30px;
    align-content: center;
    z-index: 1;


}

.ula {
    width: 100vw;
    height: 70px;
    background-color: transparent;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    position: relative;
}

.subnav1 {
    margin-left: 20px;
    color: white;
    font-family: fantasy;
    font-weight: bold;
}

.subnav2 {
    margin-right: 20px;
    display: flex;
}

.subnav2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-size: large;
    font-family: sans-serif;
    border-radius: 5px solid;
    border-width: 100vw;
    height: 40px;
}

.subnav2 div {
    align-content: center;
    margin-left: 20px;
    width: fit-content;
    padding: 10px;
}

.subnav2 a:hover {
    text-shadow: 0 0 10px #ffffff;
}

.subnav1 ::first-letter {
    color: #00598d;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;

}

.subnav3 {
    display: none;
    justify-content: center;
    align-items: center;

}

.subnav3 button {
    background-color: transparent;
    color: #00598d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.subnav3 button:hover {
    transition: 1s;
    background-color: #00598d;
    color: white;
    box-shadow: 0 0 30px #00598d;
}

.subnav4 {
    box-shadow: 
    0px 0px 30px #00598d ;
     
    border-radius: 10px;
    width: 150px;
    height: 250px;
    background-color: #10638f;
    margin-right: 20px;
    display: none;
    position: absolute;
    top: 70px;
    right: 0px;
}

.subnav4 a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    font-size: large;
    font-family: sans-serif;
    border-radius: 5px solid;
    border-width: 100vw;
    height: 40px;
}

.subnav4 div {
    align-content: center;
    margin-left: 20px;
    width: fit-content;
    padding: 10px;
}
.icon button{ gap: 40px;
   background-color: #ffffff;
   box-shadow: #00598d 0px 0px 30px;
    
}

.subnav4 a:hover {
    text-shadow: 0 0 10px #ffffff;
}

@media screen and (max-width: 728px) {
    .subnav2 {
        display: none;

    }
}

@media screen and (max-width: 728px) {
    .subnav3 {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .subnav3 button {
        display: block;
        margin: 10px auto;
    }

}

#menu-button:focus .subnav4 {
    display: block;
}

.second {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second1 {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second1 h2 {
    text-shadow: #00598d 0px 0px 30px;
    font-family: sans-serif;
}

.second1 p {
    text-shadow: #00598d 0px 0px 30px;
    font-family: sans-serif;
}

.second2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#section1 {
    margin-top: 250px;
}
.container {
    align-items: center;
    display: flex;
    margin-top: 100px;
    justify-content: center
    ;
}
.row{
    width: 80%;
    height:80%;
    justify-content: center;
    align-items: center;
}

#image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: #00598d 0px 0px 30px;
    filter: drop-shadow(0px 0px 30px #00598d);
}
h1,h3,p{
    color:#ffffff;
    text-shadow:#00598d  0px 0px 30px;
    font-family: sans-serif;
    font-weight: bold;
}
#section2 {
    margin-top: 300px;
}

#one p:hover {
    text-shadow: #00598d 0px 0px 30px;
    scale: 1.20;
    transition: 0.5s;
}
#one h1 {
   filter: drop-shadow(0px 0px 10px #00598d );
   
}


.icon button:hover {
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 30px #00598d );
    scale: 1.20;
    transition: 0.5s;
}
.icon a{
    text-decoration: none;
    color: #00598d;
    font-weight: bold;
}
.card-deck {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
}
.card-deck .card {
    background-color: transparent;
    color: white;
    border: 0px solid;
    text-align: center;
}

#section3 {
    margin-top: 100px;
}
.bord{ color: #00598d;
}
#card1 p:hover {
    filter: drop-shadow(#00598d 0px 0px 30px);
    scale: 1.20;
    transition: 0.5s ;
    
}
#section4 {
    margin-top: 100px;
}

.card2 {
    background-color: transparent;
    color: white;
    border: 0px solid;
    text-align: center;}
.card2 img, .card2 video {
    border-radius: 10px;
    box-shadow: #00598d 0px 0px 30px;
}

.card2 video:hover{
    filter: drop-shadow(#00598d 0px 0px 30px);
    scale: 1.20s;
    transition: 0.5s;
}
.card2 img:hover{filter: drop-shadow(#00598d 0px 0px 30px);
    scale: 1.20s;
    transition: 0.5s;} 
#card2 {
    gap: 50px;
}
#section5 {
    margin-top: 100px;
}

#sectionsub4 h1 {
    

    filter:drop-shadow(#00598d 0px 0px 30px) ;
    
}
#sectionsub4 p:hover { 
    filter: drop-shadow(#00598d 0px 0px 30px);
    scale: 1.20;
    transition: 0.5s;
}
#section5 {
    margin-top: 100px;
}
#subsection5 h1 {
    filter: drop-shadow(#00598d 0px 0px 30px);
}
#subsection5 p:hover {
    filter: drop-shadow(#00598d 0px 0px 30px);
    scale: 1.20;
    transition: 0.5s;
}
#form { margin-top: 100px;
    margin-left: 1px;
    padding: 20px;
}


.btn-primary {
    background-color: #00598d;
    border: none;
    box-shadow: #00598d 0px 0px 30px;
}
.btn-primary:hover {
    background-color: #00598d;
    box-shadow: #00598d 0px 0px 30px;
    scale: 1.10;
    transition: 0.5s;
}
.form-control {
    background-color: transparent;
    border: 1px solid #00598d;
    color: white;
}
.form-control:focus {
    background-color: transparent;
    border: 1px solid #00598d;
    filter:drop-shadow(#00598d 0px 0px 30px); 
    color: white;
}
.form-check-input {
    background-color: transparent;
    border: 1px solid #00598d;
    box-shadow: #00598d 0px 0px 30px;
}
.form-check-input:checked {
    background-color: #00598d;
    border: 1px solid #00598d;
    box-shadow: #00598d 0px 0px 30px;
}
.form-check-label {
    color: white;
}
.form-check-label:hover {
    color: #00598d;
    scale: 1.10;
    transition: 0.5s;
}

.card textarea, .card input {
    background-color: transparent;
    border: 1px solid #00598d;
    color: white;
    
}
.card textarea:focus , .card input:focus {
    border: 1px solid #00598d;
    box-shadow: #00598d 0px 0px 30px;
    scale: 1.02;
    transition: 0.5s;
}
/* #form button:hover {
    background-color: #00598d;
    box-shadow: #00598d 0px 0px 30px;
    scale: 1.10;
    transition: 0.5s;
} */
.card  {
    color: white;
}
.card .form-control:focus {
    color: #00598d;
    filter: drop-shadow(#00598d 0px 0px 30px);
    scale: 1.02;
    transition: 0.5s;
}
.card1{margin-top: 40px;}
.card{
    box-shadow: #396f94 0px 0px 30px;
    border-radius: 10px;
}
.card h5 {
    color: white;
    text-shadow: #00598d 0px 0px 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.card button {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #00598d;
    box-shadow: #00598d 0px 0px 30px;
    margin-top: 30px;
    border-radius: 10px;
}
.card button:hover {
    background-color: #00598d;
    color: white;
    box-shadow: #00598d 0px 0px 30px;
    scale: 1.10;
    transition: 0.5s;
}
.op a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    text-shadow: #00598d 0px 0px 30px;

}
.op a:hover{
    color: #00598d;
    scale: 1.10;
    transition: 0.5s;
}